{% extends 'base.html' %}
{% block body %}

<div class="container d-flex justify-content-center align-items-center ban-1">
    <div class="p-4 border rounded shadow bg-white ban-2">
        <h2 class="text-center text-dark ban-h1">Upload Banner</h2>
        
        {% for message in messages %}
            <div class="alert alert-info text-center">{{ message }}</div>
        {% endfor %}
        

        <form method="POST" enctype="multipart/form-data" class="ban-form">
            {% csrf_token %}
            
            {% for field in form %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    <span class="ban-3">{{ field }}</span>
                </div>
            {% endfor %}
            <div class="d-flex gap-3 mt-3">
                <a class="btn btn-primary btn-lg flex-grow-1" href="{% url 'home' %}">Back</a>
                <button type="submit" class="btn btn-primary btn-lg flex-grow-1">Pay to Upload</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
