{% extends 'base.html' %}
{% block body %}
{% for i in category %}
<div class="container div-1-mt mt-3">
    <h2 class="txt-div-1">{{ i }}</h2>
    <div class="movie-container">
        {% for video in videos %}
        <a href="#" class="cv-a">
            <div class="movie-card cv-1" title="{{ video.view }} views">
                <div class="img-Div cv-2">
                    <img class="cv-3" src="{{ video.video_thumbnail.url }}" alt="Image Not Loading" />
                </div>
                <div class="txtDivVideo">
                    <span class="txt-1">{{ video.video_title | truncatechars:60 }}</span><br/>
                    <div class="txt-3">
                        <span>
                            <div><span class="cv-4">{{ video.customer_name }}</span></div>
                            <i class="fa-solid fa-eye"></i>
                            <span class="cv-5">{{ video.created_date }}</span>
                        </span>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endfor %}
{% endblock %}
