{% extends 'base.html' %}
{% block body %}
{% for i in category %}
<div class="container div-1-mt mt-3">
    <h2 class="txt-div-1">{{ i }}</h2>
    <div class="movie-container">
        {% for video in videos %}
        <a href="#" style="text-decoration: none; color: #111; height: 33vh;">
            <div class="movie-card" title="{{ video.view }} views" style="height: 33vh;">
                <div class="img-Div" style="height: 176px;">
                    <img src="{{ video.video_thumbnail.url }}" alt="Image Not Loading" style="width: 100%; height: 100%;" />
                </div>
                <div class="txtDivVideo" style="overflow: hidden;">
                    <span class="txt-1">{{ video.video_title | truncatechars:60 }}</span><br/>
                    <div class="txt-3">
                        <span>
                            <div><span style="font-weight: 600; font-style: italic;">{{ video.customer_name }}</span></div>
                            <i class="fa-solid fa-eye"></i>
                            <span style="margin-left: 5px;">{{ video.created_date }}</span>
                        </span>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endfor %}
{% endblock %}
