{% extends 'base.html' %}
{% block body %}
<style>
  input:focus, textarea:focus, select:focus {
  outline: none !important;  /* Removes default browser outline */
  box-shadow: none !important; /* Removes the shadow */
  border-color: #ccc; /* Optional: Keeps border color consistent */
}
.short-a:hover{
  border: 1px solid rgb(201, 198, 198);
  box-shadow: 2px 2px 10px rgba(201, 198, 198, 0.7);
  box-sizing: border-box;
}
.btn-danger{
    margin-left: 10px;
    height: 30px;
}
.btn-danger span{
    position: relative;
    top: -5px;
}
.hp-1{
  margin-top: 20px;
}
.hp-2{
  margin-left: 1%; 
  border-radius: 10px; 
  overflow: hidden; 
  box-shadow: 5px 10px 10px gray;
}
.hp-3{
  margin: 0px;
}
.hp-4{
  text-decoration: none; 
  color: #111; 
  height: 34vh;
}
.hp-5{
  height: 174px;
}
.hp-6{
  width: 100%; 
  height: 100%;
}
.hp-7{
  font-weight: 600; 
  font-style: italic;
}
.hp-8{
  margin-left: 5px;
}
.hp-9{
  width: 96vw;
}
.hp-10{
  display: flex; 
  overflow-x: auto; 
  gap: 5px; 
  width: 96vw; 
  padding: 10px; 
  scrollbar-width: none; 
  justify-content: start;
}
.hp-11{
  width: 220px; 
  flex: 0 0 auto; 
  border-radius: 5px; 
  padding: 10px; 
  text-align: center; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
}
.hp-12{
  width: 100%; 
  height: 300px; 
  object-fit: cover; 
  border-radius: 5px;
}
.hp-13{
  display: block; 
  font-size: 16px; 
  font-weight: bold; 
  margin-top: 5px;
}
.hp-14{
  font-style: italic;
}
.hp-15{
  font-size: 14px; 
  color: gray;
}
.hp-16{
  position: relative;
}
.hp-17{
  text-decoration: none; 
  color: #111; 
  height: 33.5vh;
}
.movie-container {
    display: flex;
    flex-direction: column;
    gap: 40px; /* Rows ke beech gap  */
    align-items: center;
}

.movie-row {
    display: flex;
    /* justify-content: center; */
    gap: 10px; /* Videos ke beech gap */
    width: 100%;
}

.movie-card {
    width: 22vw; /* 2 videos ek row me aaye */
    text-decoration: none;
    color: #111;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
}

.img-Div {
    height: 165px;
}
.gp{
  gap: 50px;
}
</style>
    <!-- Section 2 -->

    {% if banner %}
    <div id="carouselExampleFade" class="carousel slide carousel-fade hp-1">
      <div class="carousel-inner hp-2">
        {% for ban in banner %}
          <a href="https://wa.me/91{{ ban.contact_no }}" target="_blank">
            <div class="carousel-item hp-3 active">
              <img src="/media/{{ ban.banner_img }}" class="d-block w-100" alt="Slide 1" />
            </div>
          </a>
        {% endfor %}
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        </button>
      </div>
    </div>
    {% endif %}

  {% if video %}
    <div class="container div-1-mt mt-3">
        <h2 class="txt-div-1">Recommended searches</h2>
        <div class="movie-container">
            {% for vd in video %}
            
            {% if forloop.counter0|divisibleby:4 %}
              <div class="movie-row" style="height: 38vh;"> <!-- Har 4 videos ka ek row -->
            {% endif %}
            
            <a href="{% url 'video_page' vd.video_title %}" class="hp-4">
              <div class="movie-card" title="{{ vd.view }}k views">
                <div class="img-Div hp-5">
                  <img src="/media/{{ vd.video_thumbnail }}" alt="Image is Not Loading" class="hp-6" />
                </div>
                <div class="txtDivVideo">
                  <span class="txt-1">{{ vd.video_title | truncatechars:60 }}</span><br/>
                  <div class="txt-3" style="position: relative;">
                      <div style="position: relative;"><span class="hp-7">Channel Name</span></div>
                      <i class="fa-solid fa-eye"></i><span class="hp-8">{{ vd.created_date }}</span>
                  </div>
                </div>
              </div>
            </a>

            {% if forloop.counter|divisibleby:4 or forloop.last %}
              </div> <!-- Row close -->
            {% endif %}
            
            {% endfor %}
        </div>
    </div>
  {% endif %}
    
    {% if shorts %}
      <!-- Shorts Section -->
      <div class="container div-1-mt mt-3 hp-9">
        <h2 class="txt-div-1">Shorts</h2>
        <div class="shorts-container hp-10">
          {% for st in shorts %}
          <a href="{% url 'shorts_page' st.id %}" class="short-a">
            <div class="short-card hp-11">
              <img src="/media/{{ st.short_thumbnail }}" alt="Short 1" class="hp-12" />
              <span class="short-title hp-13">{{ st.short_title | truncatechars:20 }} </span>
              <span class="hp-14">{{ st.customer_name  | truncatechars:12 }}</span>
              <span class="short-views hp-15">{{ st.view }}M views</span>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>    
    {% endif %}

    <!-- <div style="position: relative; top: 100px; color: aqua;">position</div> -->
{% endblock %}
