{% extends 'base.html' %}
{% block body %}
    <!-- Section 2 -->

    {% if banner %}
    <div id="carouselExampleFade" class="carousel slide carousel-fade hp-1">
      <div class="carousel-inner hp-2">
        {% for ban in banner %}
          <a href="https://wa.me/91{{ ban.contact_no }}" target="_blank">
            <div class="carousel-item active">
              <img src="/media/{{ ban.banner_img }}" class="d-block w-100" alt="Slide 1" />
            </div>
          </a>
        {% endfor %}
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        </button>
      </div>
    </div>
    {% endif %}

    {% if video %}
    <!-- Section 3 -->
    <div class="container div-1-mt mt-3">
      <h2 class="txt-div-1">Recommended searches</h2>
        <div class="movie-container">
          {% for vd in video %}
          <a class="hp-3" href="{% url 'video_page' vd.video_title %}">
            <div class="movie-card" title="{{ vd.view }}k views">
              <div class="img-Div hp-4">
                <img class="hp-5" src="/media/{{ vd.video_thumbnail }}" alt="Image is Not Loading"/>
              </div>
              <div class="txtDivVideo">
                <span class="txt-1">{{ vd.video_title }}</span><br/>
                <div class="txt-3">
                  <span>
                    <div><span class="hp-6">{{ vd.customer_name  | truncatechars:20 }}</span></div>
                    <i class="fa-solid fa-eye"></i><span class="hp-7">{{ vd.created_date }}</span>
                  </span>
                </div>
              </div>
            </div>
          </a>
          {% endfor %}
        </div>
    </div>
    {% endif %}
    
    {% if shorts %}
      <!-- Shorts Section -->
      <div class="container div-1-mt mt-3 hp-8">
        <h2 class="txt-div-1">Shorts</h2>
        <div class="shorts-container hp-9">
          {% for st in shorts %}
          <a href="{% url 'shorts_page' st.id %}" class="short-a">
            <div class="short-card hp-10">
              <img class="hp-11" src="/media/{{ st.short_thumbnail }}" alt="Short 1" />
              <span class="short-title hp-12">{{ st.short_title | truncatechars:20 }} </span>
              <span class="hp-13">{{ st.customer_name  | truncatechars:12 }}</span>
              <span class="short-views hp-14">{{ st.view }}M views</span>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>    
    {% endif %}

    {% if video2 %}
    <!-- Section 3 -->
    <div class="container div-1-mt mt-3 hp-15">
      <h2 class="txt-div-1">Popular Search</h2>
        <div class="movie-container">
          {% for vd in video2 %}
          <a class="hp-16" href="{% url 'video_page' vd.video_title %}">
            <div class="movie-card hp-15" title="{{ vd.view }}k views">
              <div class="img-Div hp-4">
                <img class="hp-17" src="/media/{{ vd.video_thumbnail }}" alt="Image is Not Loading"/>
              </div>
              <div class="txtDivVideo">
                <span class="txt-1">{{ vd.video_title | truncatechars:60 }}</span><br/>
                <div class="txt-3">
                  <span>
                    <div><span class="hp-18">{{ vd.customer_name  | truncatechars:20 }}</span></div>
                    <i class="fa-solid fa-eye"></i> <span class="hp-19">{{ vd.created_date }}</span>
                  </span>
                </div>
              </div>
            </div>
          </a>
          {% endfor %}
        </div>
    </div>
    {% endif %}
    <!-- <div style="position: relative; top: 100px; color: aqua;">position</div> -->
{% endblock %}
