{% extends 'base.html' %}
{% block body %}
<style>
    input:focus, textarea:focus, select:focus {
        outline: none !important;
        box-shadow: none !important;
        border-color: #ccc;
    }
    body {
        background-color: #f8f9fa;
    }
    .su-1{
        height: 100vh;
    }
    .su-2{
        width: 50%;
    }
    .su-3{
        font-size: 30px; 
        margin-left: -20px;
    }
    .su-4{
        margin-top: 20px;
    }
    .su-5{
        margin-left: 5px;
    }
</style>

<div class="container d-flex justify-content-center align-items-center su-1">
    <div class="p-4 border rounded shadow bg-white su-2">
        <h2 class="text-center text-dark su-3">indianews</h2>

        {% if messages %}
            <div class="alert alert-info su-4">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}

        <form method="POST" enctype="multipart/form-data" class="su-4">
            <!-- {{ csrf_token }} -->
            <div class="mb-3">
                <label for="" class="form-label">Thumbnail Link : </label>
                <span class="su-5">{{ form.short_thumbnail }}</span>
            </div>

            <div class="mb-3">
                <label for="" class="form-label">Short Link : </label>
                <span class="su-5">{{ form.short_link }}</span>
            </div>

            <div class="mb-3">
                <label for="" class="form-label">Short Title : </label>
                <span class="su-5">{{ form.short_title }}</span>
            </div>

            <div class="mb-3">
                <label for="" class="form-label">Short Description : </label><br>
                <span class="su-5">{{ form.short_description }}</span>
            </div>

            <button type="submit" class="btn btn-primary w-100">Upload</button>
        </form>
    </div>
</div>

{% endblock %}
