{% extends 'base.html' %}
{% block body %}
<style>
    input:focus, textarea:focus, select:focus {
    outline: none !important;  /* Removes default browser outline */
    box-shadow: none !important; /* Removes the shadow */
    border-color: #ccc; /* Optional: Keeps border color consistent */
}
    body{
        background-color: #f8f9fa;
    }
    .form-control{
        margin: 0px 10px;
    }
</style>
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="p-4 border rounded shadow bg-white" style="width: 50%;">
        <h2 class="text-center text-dark" style="font-size: 30px; margin-left: -20px;">Sign up</h2>

        {% if messages %}
            <div class="alert alert-info" style="margin-top: 20px;">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
                
            </div>
        {% endif %}

        <form method="POST" style="margin-top: 20px;">
            {% csrf_token %}
        
            {% for field in form %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    <span style="margin-left: 5px;">{{ field }}</span>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary w-100">Register</button>
        </form>
    </div>
</div>

{% endblock %}
